@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@200;400&display=swap');

*{
  direction: rtl;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Noto Sans Arabic', sans-serif;
}

/* input form */

.input-form{
  max-width: 500px;
  margin: 5rem auto;
  padding: 3rem;
  border-radius: 7px;
  border: 1px solid rgba(207, 205, 205, 0.247);
  box-shadow:5px 5px 50px rgb(77, 119, 119);
  background-color: rgba(110, 71, 150, 0.856);
}

.input-form h2{
  font-family: 'Lalezar', cursive;
  color: rgb(227, 233, 235);
  padding-bottom: 2rem;
  border-bottom: 2px solid #9da6aa;
}

.input-form Label{
  color: aliceblue;
  padding: 1rem;
  font-weight: bold;
}

.input-form Input{
  height: 45px;
  border-radius: 7px;
  border-bottom: 2px solid #c7bdbd;
}

.input-form Button{
  border: none;
  background-color: rgba(44, 7, 80, 0.822);
  padding: 0.5rem 3rem;
  margin-top: 1.5rem;
  
}

.input-form Button:hover{
  background-color: rgba(228, 222, 235, 0.822);
  color: rgba(44, 7, 80, 0.822);
  font-weight: bold;
}

.input-form Button:focus{
  background-color: rgba(228, 222, 235, 0.822);
  color: rgba(44, 7, 80, 0.822);
  font-weight: bold;
}


/* navbar */

.Navbar{

  display: flex;
  justify-content: space-evenly;
  padding: 0.7rem 0;
   margin:2rem 3rem;
   border-radius: 7px;
   color: #f9fdff;
   background-color:rgba(44, 7, 80, 0.822) ;
 }
 
 .Navbar button{
   font-family: 'Lalezar', cursive;
   font-size: 1.2rem;
   border: none;
   background-color: rgba(240, 248, 255, 0);
 }
 
 .Navbar button:hover{
   border-bottom: 1px solid aquamarine;
   background-color: rgba(255, 255, 255, 0);
 }



 /* profile */

.dashboard-form  {
  padding: 3rem 1rem 5rem 1rem;
  border-radius: 7px;
  margin: 2rem;
  background-color: rgba(253, 253, 253, 0.726);
}

.dashboard-form h1{
  font-family: 'Lalezar', cursive;
  margin: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #3f4344;
  color: rgb(28, 5, 36);
}

.dashboard-form .form-group{
  margin-top: 1rem;
}


.form-group .gender-input{
  border: none;
  color: #1f042e;
  border-bottom: 2px solid rgb(91, 33, 105);
  background-color: rgba(253, 253, 253, 0);
  font-size: 1.2rem;
  border-radius: 0;
}



.DatePicker{
  width: 100%;
}

.DatePicker input{
  font-size: 1.2rem;
  color: #1f042e;
  width: 100%;
  height: 2.1rem;
}

.form-group input{
  font-size: 1.2rem;
  border-radius: 0;
  background-color: rgba(253, 253, 253, 0);
  color: #1f042e;
  border: none;
  border-bottom: 2px solid rgb(91, 33, 105);


}

.form-group input:focus{
  background-color: rgba(253, 253, 253, 0);
}

.form-group label{
  text-align: right;
  display: block;
  color: rgb(28, 5, 36);
  /* font-size: 20px; */
  margin: 1.2rem 0;
}

.form-group button{
  margin-top: 2rem;
  background-color: rgba(44, 7, 80, 0.822);
  padding: 0.5rem 2rem;
}
.form-group button:hover{
  background-color: rgba(228, 222, 235, 0.822);
  color: rgba(44, 7, 80, 0.822);
}

/* modal */


.modal-btn button{
  background-color: rgba(44, 7, 80, 0.822);
  padding: 0.3rem 2rem;
}

.modal{
  background-color: rgba(7, 69, 80, 0.466);
}

.modal-btn button:hover{
  background-color: rgba(228, 222, 235, 0.822);
  color: rgba(44, 7, 80, 0.822);

}
/* table */

.table-items{
  padding: 2rem 1rem;
  border-radius: 7px;
  margin: 2rem;
  background-color: rgba(253, 253, 253, 0.726);
  overflow-x: scroll;
}

.table-items h1{
  font-family: 'Lalezar', cursive;
  margin: 3rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #3f4344;
  color: rgb(28, 5, 36);
}

.table-items Table{
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-items Table thead tr {
  font-size: 1.2rem;
  background-color: #28073dd2;
  color: #ffffff;
  text-align: center;
}

.table-items Table th,
.table-items Table td {
    padding: 12px 15px;
}

.table-items Table tbody tr {
  border-bottom: 1px solid #b376af;
}

.table-items Table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-items Table tbody tr:last-of-type {
  border-bottom: 2px solid #2c0227;
}



/* error */

.error{
  font-size: 80%;
  border-radius: 10px;
  width: 80%;
  padding: 0.5rem;
  background-color: rgba(206, 57, 57, 0.801);
  color: #f9fdff;
}

